body {
    font-family: Muli,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ECECEC;
}

.m-word-predicate {
    font-style: italic;
}

.table-words {
}

div.b-words {
    overflow-x: scroll;
}

ul.b-marks {
    width: 150px;
    margin-top: 5px;
    padding-left: 20px;
}

div.m-card {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
}

div.m-app {
    padding: 25px 0;
}

div.m-alert-without-bottom-margin {
    margin-bottom: 0;
}

div.m-alert-left-navbar {
    margin-left: 15px;
    margin-bottom: 0;
    padding: 5px;
    height: 30px;
}

input.m-mark-input {
    width: 100%;
    margin-bottom: 5px;
}